:root {
  --shadow-color: rgba(128, 128, 128, 0.97);
  --accent-color: #0891b2;
}
* {
  box-sizing: border-box;
}
html {
  background-color: white;
}
body {
  font-family: "Playfair Display", "Roboto";
  margin: 0;
  padding: 0;
  background-color: white;
  max-width: 1775px;
  margin-left: auto;
  margin-right: auto;
  box-shadow:
    12px 0 15px -4px var(--shadow-color),
    -12px 0 8px -4px var(--shadow-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  #about-container {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-left: 20%;
    padding-right: 20%;
    background-image: linear-gradient(
      170deg,
      var(--accent-color) 55%,
      White calc(55% + 2px)
    );
  }
  #portrait {
    height: 80%;
    width: 40%;
    background-image: url("./20240711_153757.jpg");
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    transition: transform;
    background-size: cover;
    background-position: center;
  }

  #portrait:hover {
    transform: scale(1.1);
  }
  #name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }

  #about-me {
    width: 100%;
    height: 65%;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 5px black;
  }

  #about-me h2 {
    font-size: 28px;
    margin: 0;
  }

  #about-me p {
    font-size: 16px;
  }

  #about-links {
    display: flex;
    align-items: center;
  }

  .spacer {
    flex: 1;
  }
  footer#contact {
    background-color: var(--accent-color);
    color: white;
    padding: 40px;
    text-align: left;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 400px;
    padding-left: 20%;
    padding-right: 20%;
  }
  #portfolio h2 {
    align-self: flex-start;
    font-size: 28px;
    margin-bottom: 20px;
  }
  footer > .contact-portrait {
    height: 100%;
    width: 100%;
    background-image: url("./20240711_153845.jpg");
    padding-bottom: 10px;
    transition: transform;
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 601px) and (max-width: 1199px) {
  #about-container {
    height: 600px;
    box-shadow: none;
    display: flex;
    position: relative;
    justify-content: center;
    background-image: linear-gradient(
      170deg,
      var(--accent-color) 55%,
      White calc(55% + 2px)
    );
  }
  #portrait {
    height: 60%;
    width: 40%;
    background-image: url("./20240711_153757.jpg");
    float: left;
    transform: translate(40%, 15%);
    z-index: 3;
    position: relative;
    background-size: cover;
    background-position: center;
  }
  #about-me {
    padding-top: 35px;
    padding-bottom: 30px;
    transform: translate(-30%, 40%);
    width: 60%;
    height: 60%;
    z-index: 2;
    display: block;
    text-align: end;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 5px black;
  }
  #about-me > h2 {
    transform: translate(-12.5%);
  }
  #about-me > p {
    width: 60%;
    height: 60%;
    text-align: end;
    overflow: hidden;
    transform: translateX(140%);
    width: 40%;
  }
  #about-links {
    display: none;
  }
  #name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
    transform: translateX(90%);
    padding-top: 10px;
  }
  footer#contact {
    background-color: var(--accent-color);
    color: white;
    padding: 40px;
    text-align: left;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 400px;
    padding-left: 10%;
    padding-right: 10%;
  }
  #email-address,
  #phone-number {
    overflow: wrap;
    text-wrap: wrap;
    word-break: break-all;
  }
  #portfolio h2 {
    align-self: flex-start;
    font-size: 28px;
    margin-bottom: 20px;
  }
  footer > .contact-portrait {
    height: 100%;
    width: 100%;
    background-image: url("./20240711_153845.jpg");
    padding-bottom: 10px;
    transition: transform;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 600px) {
  #about-container {
    height: 800px;
    box-shadow: none;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(
      150deg,
      var(--accent-color) 40%,
      White calc(40% + 2px)
    );
    align-items: center;
  }
  #portrait {
    height: 70%;
    width: 60%;
    background-image: url("./20240711_153757.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 32px;
    background-size: cover;
    background-position: center;
  }
  #name {
    color: white;
    font-size: xx-large;
    text-align: center;
  }
  #about-me {
    padding-top: 35px;
    padding-bottom: 30px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #about-me > h2,
  #about-links {
    text-align: center;
  }
  #about-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #portfolio > h2 {
    text-align: center;
    align-self: center;
  }
  footer#contact {
    background-color: var(--accent-color);
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 800px;
  }
  #email-address,
  #phone-number {
    overflow: wrap;
    text-wrap: wrap;
    word-break: break-all;
  }

  .contact-info {
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: larger;
    flex: 1;
    padding-bottom: 48px;
  }
  .contact-info > .contact-header {
    align-self: center;
  }
  footer > .contact-portrait {
    height: 50%;
    width: 100%;
    background-image: url("./20240711_153845.jpg");
    transition: transform;
    background-size: cover;
    background-position: center;
  }
  .contact-info > .contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

a {
  cursor: pointer;
}


#about-links a {
  margin-right: 10px;
}

#about-links a img {
  width: 25px;
  height: 25px;
}


#portfolio {
  padding-left: 20%;
  padding-right: 20%;
  background-color: #ffffff;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.project-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 500px 500px;
  grid-auto-flow: row;
  gap: 20px;
  padding-bottom: 5%;
}

.project-card {
  background-color: white;
  border: 1px solid #ddd;
  text-align: left;
  width: auto;
  box-shadow: 2px 2px 5px var(--shadow-color);
  transition: transform;
}
.project-card {
  overflow: scroll;
}

.project-card::-webkit-scrollbar {
  width: 0px;
}

.project-card:hover {
  transform: scale(1.1);
}

.screenshot {
  background-color: #ddd;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 14px;
  background-size: cover;
  background-position: center;
}

.card-info {
  padding-top: 2%;
  padding-left: 6%;
  padding-right: 6%;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.card-header h6 {
  font-size: 16px;
  margin: 0;
  flex: 1;
}

.card-header a {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.card-header a img {
  width: 25px;
  height: 25px;
}

.card-header svg {
  width: 25px;
  height: 25px;
}

footer#contact p {
  margin: 10px 0;
}

footer#contact a {
  color: white;
  text-decoration: none;
  margin: 0;
}

.contact-header {
  font-size: xx-large;
}

.contact-links {
  display: grid;
  grid-template-columns: 25px;
  grid-auto-flow: column;
  gap: 16px;
}

.contact-links img {
  width: 30px;
  height: 30px;
}

#phone-icon svg,
#email-icon svg {
  height: 30px;
  color: white;
  justify-self: center;
  align-self: center;
}

.email,
.phone {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 10px;
  align-items: center;
  font-size: large;
}
.contact-text {
  font-size: larger;
}

#email-icon,
#phone-icon {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
